{% load i18n %}
{% load staticfiles saleor_ext %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<div class="product-filters">
  <!-- <div class="product-filters__title">
    <h2>
      <strong>{{ object.translated }}</strong>
    </h2>
    {% if object.parent %}
    <a href="{{ object.parent.get_absolute_url }}">Zobrazit všechny obrazy</a>
    {% endif %}
    {% block title_tree %}{% endblock title_tree %}
  </div> -->
</div>
<div class="filters-menu__body d-md-block">
  <!-- <h2>
    {% trans 'Filters' context 'Filter heading title' %}
    {% if filter_set.is_bound_unsorted %}
      <a href="./">
        <span class="clear-filters float-right">{% trans 'Clear filters' context 'Product list page filters' %}</span>
      </a>
    {% endif %}
  </h2> -->
  <div class="product-filters">
    <div class="product-filters__attributes" data-icon-up="{% static "images/chevron-up.svg" %}" data-icon-down="{% static "images/chevron-down.svg" %}">
      <form method="get">
        <div class="row">
        {% for field in filter_set.form reversed %}
          {% if field.name == 'sort_by' %}
            {% comment %}
              Field 'sort_by' is hidden because it is rendered in header.
              This is required if you want to have sorting to be kept during further filtering.
            {% endcomment %}
            <input type="hidden" name="sort_by" value="{% if request.GET.sort_by %}{{ request.GET.sort_by }}{% endif %}">
          {% elif field.name == 'price' %}
          {% elif field.name == 'obraz-typ' %}
          <div class="col-12 col-md-1 title filter-option">
            <span class="search-title">{% trans "Search" %}:</span>
          </div>
          {% else %}
          <div class="col-12 col-md-2 filter-option">
            <div class="filter-product" title="{{ field.label }}">
                {{ field }}
            </div>
          </div>
          {% endif %}
          {% if forloop.last %}
          <div class="col-12 col-md-2 filter-option">
              <div class="filter-product" title="{% trans 'Varianta' %}">
                {% with request.GET|get_list:'variants' as variants_list %}
                <select a="{{ variants_list }}" name="variants" id="id_varianta" multiple="multiple" title="{% trans 'Varianta' %}" class="selectpicker" tabindex="-98">
                  {% for value in product_attr.values.all %}
                  <option value="{{ value.id }}" {% if value.id|is_in:variants_list %}selected{% endif %}>{{ value.translated }}</option>
                  {% endfor %}
                </select>
                {% endwith %}
              </div>
          </div>
          <div class="col-12 col-md-2 filter-option">
            <div class="filter-product search-name" title="Name">
              <div class="btn-group search-group">
                <input class="" type="text" name="name" placeholder="{% trans 'Searched text' %}..." value="{% if request.GET.name %}{{ request.GET.name }}{% endif %}">
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <div class="col-12 col-md-1 filter-option">
          <button class="btn btn-order" type="submit">{% trans 'Update' context 'Apply filters button' %}</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(function($) {
    $("select[multiple=multiple]").map(function(){
      $(this).attr("title", $(this).parent().attr("title")).addClass("selectpicker").selectpicker({});
    });
  });
</script>
