{% load i18n %}
{% load staticfiles saleor_ext %}

<style>
  .categories .top-panel .filter-option.search-buttons {
      margin-top: 20px;
      text-align: right;
  }
  .categories .top-panel .filter-option.search-buttons button {
      height: 32px;
  }
  .filter-section__content {
      position: absolute;
      margin-top: 15px;
      z-index: 999;
      background-color: #121212;
      padding: 13px;
      text-align: left;
      width: 85%;
      overflow-y: auto!important;
  }
  .filter-section.filter-section--closed .filter-section__content {
      margin: 0;
      padding: 0;
      height: 0;
  }
  .form-control[type="checkbox"]:checked, select[type="checkbox"]:checked, input[type="checkbox"]:checked {
      background-color: #fff;
  }
  .form-control[type="checkbox"], select[type="checkbox"], input[type="checkbox"] {
      background-color: transparent;
      border-color: #616161;
  }
  .product-filters .filter-section__header h3 {
    font-weight: bold;
    padding-right: .5rem;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }
  .filter-product .bootstrap-select.btn-group .dropdown-menu.inner {
      padding-left: 8px;
  }
  .filter-product .form-control[type="checkbox"], select[type="checkbox"], input[type="checkbox"] {
      border-radius: 0px;
      height: 9px;
      width: 9px;
  }
  .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    height: 17px;
  }
  /* width */
  .product-filters ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  .product-filters ::-webkit-scrollbar-track {
    background: #151515;
  }

  /* Handle */
  .product-filters ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .product-filters ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .product-filters .dropdown-menu.open.show {
    background: #121212;
  }
  .product-filters .dropdown-menu.open.show ul {
    background: #121212;
  }
  .product-filters .dropdown-menu.open.show ul li a {
    color: #fff;
    padding: 5px 3px;
  }
  span.glyphicon.glyphicon-ok.check-mark {
    filter: invert(1);
  }
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<div class="product-filters">
  <!-- <div class="product-filters__title">
    <h2>
      <strong>{{ object.translated }}</strong>
    </h2>
    {% if object.parent %}
    <a href="{{ object.parent.get_absolute_url }}">Zobrazit všechny obrazy</a>
    {% endif %}
    {% block title_tree %}{% endblock title_tree %}
  </div> -->
</div>
<div class="filters-menu__body d-md-block">
  <!-- <h2>
    {% trans 'Filters' context 'Filter heading title' %}
    {% if filter_set.is_bound_unsorted %}
      <a href="./">
        <span class="clear-filters float-right">{% trans 'Clear filters' context 'Product list page filters' %}</span>
      </a>
    {% endif %}
  </h2> -->
  <div class="product-filters">
    <div class="product-filters__attributes" data-icon-up="{% static "images/chevron-up.svg" %}" data-icon-down="{% static "images/chevron-down.svg" %}">
      <form method="get">
        <div class="row">
        {% for field in filter_set.form reversed %}
          {% if field.name == 'sort_by' %}
            {% comment %}
              Field 'sort_by' is hidden because it is rendered in header.
              This is required if you want to have sorting to be kept during further filtering.
            {% endcomment %}
            <input type="hidden" name="sort_by" value="{% if request.GET.sort_by %}{{ request.GET.sort_by }}{% endif %}">
          {% elif field.name == 'minimal_variant_price' %}
          {% elif field.name == 'obraz-typ' %}
          <div class="col-12 col-md-2 title filter-option">
            <span class="search-title">{% trans "Search" %}:</span>
          </div>
          {% else %}
            <div class="col-md-2 filter-section filter-section--closed">
              <div class="filter-section__header">
                <h3>{{ field.label }}</h3>
                <div class="filter-section__icon">
                  <img class="lazyload lazypreload" data-src="{% static "images/chevron-up.svg" %}">
                </div>
              </div>
              <div class="filter-section__content">
                <div class="filter-form-field" data-simplebar>
                  {{ field }}
                </div>
              </div>
            </div>
          {% endif %}
          {% if forloop.last %}
          <div class="col-12 col-md-2 filter-option">
            <div class="filter-product" title="{% trans 'Variant' %}">
              {% with request.GET|get_list:'variants' as variants_list %}
              <select a="{{ variants_list }}" name="variants" id="id_varianta" multiple="multiple" title="{% trans 'Variant' %}" class="selectpicker" tabindex="-98">
                {% for value in product_attr.values.all %}
                <option value="{{ value.id }}" {% if value.id|is_in:variants_list %}selected{% endif %}>{{ value.translated }}</option>
                {% endfor %}
              </select>
              {% endwith %}
            </div>
          </div>
          <div class="col-12 col-md-2 filter-option">
            <div class="filter-product search-name" title="Name">
              <div class="btn-group search-group">
                <input autocomplete="off" class="" type="text" name="name" placeholder="{% trans 'Searched text' %}..." value="{% if request.GET.name %}{{ request.GET.name }}{% endif %}">
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <div class="col-12 col-md-12 filter-option search-buttons">
          <button class="btn btn-order" type="reset">{% trans 'Remove filters' context 'Remove filters button' %}</button>
          <button class="btn btn-order" type="submit">{% trans 'Update' context 'Apply filters button' %}</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(function($) {
    $("select[multiple=multiple]").map(function(){
      $(this).attr("title", $(this).parent().attr("title")).addClass("selectpicker").selectpicker({});
    });
    $(".product-filters .btn-order[type='reset']").click(function(){
      setTimeout(function(){
        $(".filter-product select option").removeAttr("selected");
        $(".filter-product .selectpicker").selectpicker("refresh");
        $(".filter-section__content input[type='checkbox']:checked").map(function (){
          $(this).prop("checked", false);
        });
        $(".filter-section__content input[type='text']").prop('value', '');
        $(".filter-option input[type='text']").prop('value', '');

        $(".product-filters .btn-order[type='submit']").trigger("click");
      }, 100);
    });
    $(".product-filters .btn-order[type='submit']").click(function(){
      window.location.hash = "show-all-pictures";
    });
  });
</script>
