{% load i18n %}
{% load staticfiles thumbnail saleor_ext %}

<style type="text/css">
.product-list .object-image img {
    height: 100vh;
    width: auto;
    margin: 0 auto;
}
.info-object {
    display: block;
    opacity: 1;
    transition: all 0.5s ease;
    text-align: left;
}
.btn-load {
    visibility: hidden;
}
#pictureModalFullscreen .modal-body img {
    height: 100vh;
    width: auto;
}
.categories .container-fluid {
    padding: 37px 0px;
    padding-top: 80px;
}
.categories .container-fluid .all-images {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-left: 9vw;
    padding-right: 9vw;
}
.categories .top-panel {
    padding-top: 20px;
    padding-bottom: 70px;
}
.categories .container-fluid .all-images .thumb-item {
    margin-bottom: 0;
    padding: 2px;
    cursor: pointer;
}
.categories .container-fluid .all-images .thumb-item img {
    width: 100%;
    height: auto;
}
.categories .container-fluid .all-images .thumb-item.active img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.btn-categories .arrow {
    border-color: #fff;
}
.object-image.slick-slide {
    background-image: url(/static/css/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    height: 100vh;
}
.main-images-preview .slick-list {
    background-image: none;
}
.btn-open-panel .btn-title {
    box-shadow: 0px 0px 1px #000000;
}
.search-tab .product-filters .btn-order {
    width: 141px;
    margin-left: 4px;
    height: 25px;
    margin-top: -15px;
    padding: 0px 15px;
}
.categories .show-filters.btn.btn-order {
    display: none;
}

@media screen and (max-width: 1300px) {
    .product-list .object-image img.wide-image {
        width: 100vw;
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    .categories .top-panel {
        padding-top: 0px;
        padding-bottom: 250px;
    }
    .search-tab .product-filters .btn-order {
        margin-top: 5px;
        width: auto;
    }
    .categories .container-fluid .all-images {
        height: 60vh;
        margin-top: 50px;
    }
    .categories .top-panel .close {
        display: none;
    }
    .btn-open-panel.more-info {
        display: none;
    }
    .object-detail.more-info-opened .panel-more-info {
        right: 0!important;
        width: 100%;
    }
    .object-detail.more-info-opened .main-images-preview .slick-next {
        right: 0!important;
    }
    .product-list {
        padding: 0;
    }
    .row {
        margin: 0;
    }
    .btn-categories {
        width: 100%;
        z-index: 999;
        left: 0;
    }
    .object-detail.categories-opened.search-tab-opened .btn-categories {
        left: 0;
    }
    .btn-fullscreen {
        display: none;
    }
    button.slick-arrow {
        top: 150px;
        width: 25px;
        height: 25px;
    }
    .slick-arrow.slick-prev {
        left: 5px!important;
    }
    .slick-arrow.slick-next {
        right: 5px!important;
    }
    .slick-arrow.slick-prev:before,
    .slick-arrow.slick-next:before {
        border-width: 0 1px 1px 0!important;
        padding: 6px!important;
    }
    .categories .top-panel {
        display: none;
    }
    .categories .show-filters.btn.btn-order {
        margin-top: 30px;
        display: inline;
    }
    .object-detail.categories-opened.search-tab-opened .search-tab {
        width: 100%;
    }
}
</style>

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>

<div class="object-detail more-info-opened search-tab-opened" slick-active-index="">
    <script type="text/javascript">
        function get_product_image(product_url, element) {
            $.ajax({    
                url: product_url,
                success: function(data) {
                    $('.object-image.slick-slide.slick-current.slick-active').html(data);
                    $('#pictureModalFullscreen .modal-body').html(data);
                }
            });
        };
        function get_product_details(product_url) {
            $.ajax({
                url: product_url,
                success: function(data) {
                    $('.panel-more-info').html(data);
                }
            });
        };
    </script>
    <div class="row">
        <!-- <h1>{{ object.translation.title }}</h1> -->
        <div class="col-xs-12 padding-none main-images-preview">
            {% for product, available in picture_list %}
            <div class="object-image" data-picture-id="{{ product.id }}" data-slick-index="{{ forloop.counter0 }}" onclick="get_product_image('{% url 'product:render_product_image' product_id=product.id %}');get_product_details('{% url 'product:render_product_details' product_id=product.id %}');">
            </div>
            {% endfor %}
        </div>
        {% if nothing_found != True %}
        <div class="btn-fullscreen">
            <span class="btn-fullscreen" data-toggle="modal" data-target="#pictureModalFullscreen"></span>
        </div>
        {% endif %}
        <div class="btn-categories">
            <span class="title">
                {% trans "Displayed" %} <span>{{ picture_list|count_products }} {{ count_products }}</span>
            </span>
            <span class="arrow"></span>
        </div>
        <div class="categories">
            <div class="container-fluid">
                <button class="show-filters btn btn-order">{% trans "Show filters" %}</button>
                <div class="top-panel">
                    <span class="close">×</span>
                    <div class="search-tab">
                    {% include "product/_filters.html" %}
                    </div>
                </div>
                <div class="row all-images">
                {% for product, available in picture_list %}
                    <div class="col-md-1 col-4 thumb-item" product-id="{{ product.id }}" data-product-id="{{ product.id }}">
                        {% thumbnail product.get_first_image "125x125" format="PNG" crop="center" as image %}
                        <img src="{{ image.url }}">
                        {% endthumbnail %}
                    </div>
                {% endfor %}
                {% if nothing_found == True %}
                    <p>{% trans "Sorry, no matches found for your request." %}</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if nothing_found != True %}
    <div class="btn-open-panel more-info">
        <span class="open"></span>
        <span class="btn-title"></span>
    </div>
    <div class="panel-more-info">
        <span class="close">×</span>
    </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="pictureModalFullscreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
jQuery(function($) {
    setTimeout(function(){
        if (window.location.hash == "#show-all-pictures") {
            $(".object-detail").toggleClass("categories-opened");
        }
    }, 200);
    $(".categories .show-filters").click(function(){
        $(".categories .top-panel").toggle();
    });
    $(".main-images-preview").slick({
        infinite: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        lazyLoad: 'ondemand',
    });
    $(function() {
        // toggle class more info
        $(".btn-open-panel").click(function(){
            $(".object-detail").toggleClass("more-info-opened");
        });
        $(".panel-more-info .close").click(function(){
            $(".object-detail").removeClass("more-info-opened");
        });

        // click hide categories
        $(".object-image").click(function(){
            $(".object-detail").removeClass("categories-opened");
        });

        // toggle class on catgories
        $(".btn-categories").click(function(){
            $(".object-detail").toggleClass("categories-opened");
        });
        $(".categories .top-panel .close").click(function(){
            $(".object-detail").toggleClass("categories-opened");
        });

        // fix slick id
        $(".maincontent").attr("slick-active-index", $(".slick-current.slick-active").attr("data-slick-index"));
        
        // go to proper slide
        if (window.location.hash.replace("#/","").indexOf("slick-slide-") >= 0 ) {
            var ID = window.location.hash.replace("#slick-slide-","");
            var index = $(".slick-slide[data-picture-id='" + ID + "']").attr("data-slick-index");
            $('.main-images-preview').slick("slickGoTo", index);
        }

        // set id
        function setImageIdToUrl() {
            window.location.hash = "slick-slide-"+$(".slick-current.slick-active").attr("data-picture-id");
        }

        // fix Wide picture
        function fixWidePicture(element) {
            var image = new Image();
            image.src = element.attr("src");
            width = image.naturalWidth;
            height = image.naturalHeight;
            setTimeout(function(){
                if (width - height >= 0) {
                    $(".slick-current.slick-active .project-image").addClass("wide-image");
                }
                $(".slick-current.slick-active").css("background-image", "none");
                if ($(document).width() <= 600) {
                    $(".panel-more-info").css("top", $(".slick-current.slick-active .project-image").height());
                }
            }, 200);
        }

        // set title to btn-title
        function setTitle() {
            $(".btn-open-panel .btn-title").text($(".panel-more-info .info-object h2").text());
        }
        
        $('.slick-current.slick-active').trigger('click');
        $(".all-images .thumb-item[data-product-id='" + window.location.hash.replace("#slick-slide-","") + "']").addClass("active");
        setTitle();

        // info inner content, btn afterChange and Wide picture
        $('.main-images-preview').on('afterChange', function(event, slick, currentSlide, direction){
            $('.slick-current.slick-active').trigger('click');
            setImageIdToUrl();
            $(".all-images .thumb-item").removeClass("active");
            $(".all-images .thumb-item[data-product-id='" + window.location.hash.replace("#slick-slide-","") + "']").addClass("active");
            setTimeout(function(){
                setTitle();
            }, 300);
            setTimeout(function(){
                fixWidePicture($(".slick-current.slick-active .project-image"));
            }, 700);
        });

        function goToSlide(ID) {
            $(".object-detail").removeClass("categories-opened");
            var index = $(".slick-slide[data-picture-id='" + ID + "']").attr("data-slick-index");
            $('.main-images-preview').slick("slickGoTo", index);
        }
        
        // set thumbs go to slide
        setTimeout(function(){
            $(".categories .all-images .thumb-item img").click(function(){
                goToSlide($(this).parent().attr("data-product-id"));
            });
        }, 1000);

        // fix dropdowns
        $(".btn-group.bootstrap-select.show-tick > button").click(function(){
            button = $(this)
            if ($(this).parent().find("select").prev().hasClass("show")) {
                $(this).parent().find("select").prev().removeClass("show")
            }
            else {
                $(this).parent().find("select").prev().addClass("show");
            }
            setTimeout(function(){
                $(document).mouseup(function(e){
                    var btnDropdownToggle = $(".btn-group.bootstrap-select.show-tick .dropdown-menu.open.show");
                    if (!btnDropdownToggle.is(e.target) && btnDropdownToggle.has(e.target).length === 0) 
                    {
                        $(".btn-group.bootstrap-select.show-tick .dropdown-menu.open.show").removeClass("show");
                    }
                });
                if (button.hasClass("opened")) {
                    $(".btn-group.bootstrap-select.show-tick .dropdown-menu.open.show").removeClass("show");
                    button.removeClass("opened");
                } else {
                    button.addClass("opened");
                }
            }, 100);
        });

        $(document).mouseup(function(e){
            var container = $(".categories .col-12.col-md-2.filter-option");
            if (!container.is(e.target) && container.has(e.target).length === 0) 
            {
                if ($(".btn-group.bootstrap-select.show-tick").hasClass("open")) {
                    $(".btn-group.bootstrap-select.show-tick.open").trigger("click");
                }
            }
        });

        // arrows
        $(document).keydown(function(e){
          if (e.keyCode == 37) { 
            $(".object-detail .slick-prev.slick-arrow").trigger("click");
            compareActive(400);
          }
        });
        $(document).keydown(function(e){
          if (e.keyCode == 39) { 
            $(".object-detail .slick-next.slick-arrow").trigger("click");
            compareActive(400);
          }
        });

        // auto hide panels
        if ($(document).width() >= 600) {
            function hideInfoPanel() {
                infoTimeOut = setTimeout(function(){
                    $(".object-detail").removeClass("more-info-opened");
                }, 4000);
            }
            hideInfoPanel()
            $(".panel-more-info").mouseover(function(){
                $(function(){
                    clearTimeout(infoTimeOut);
                });
            });
        } 
    });
});
</script>
