{% load i18n %}
{% load staticfiles thumbnail saleor_ext %}

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>

<style type="text/css">
.product-list .object-image img {
    height: 100vh;
    width: auto;
    margin: 0 auto;
}
.info-object {
    display: block;
    opacity: 1;
    transition: all 0.5s ease;
    text-align: left;
}
.btn-load {
    visibility: hidden;
}
#pictureModalFullscreen .modal-body img {
    height: 100vh;
    width: auto;
}
.categories .container-fluid {
    padding: 37px 0px;
    display: block;
}
.categories .container-fluid .all-images {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-left: 9vw;
    padding-right: 9vw;
}
.categories .top-panel {
    padding-top: 20px;
    padding-bottom: 70px;
}
.categories .container-fluid .all-images .thumb-item {
    margin-bottom: 0;
    padding: 2px;
    cursor: pointer;
}
.categories .container-fluid .all-images .thumb-item img {
    width: 100%;
    height: auto;
}
.categories .container-fluid .all-images .thumb-item.active img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 7px solid #000;
}
.btn-categories .arrow {
    border-color: #fff;
}
</style>

<div class="object-detail more-info-opened search-tab-opened" slick-active-index="">
    <script type="text/javascript">
        function get_product_image(product_url, element) {
            $.ajax({    
                url: product_url,
                    success: function(data) {
                        $('.object-image.slick-slide.slick-current.slick-active').html(data);
                        $('#pictureModalFullscreen .modal-body').html(data);
                    }
            });
        };
        function get_product_details(product_url) {
            $.ajax({    
                url: product_url,
                    success: function(data) {
                        $('.panel-more-info').html(data);
                    }
            });
        };
    </script>
    <div class="row">
        <!-- <h1>{{ object.translation.title }}</h1> -->
        <div class="col-xs-12 padding-none main-images-preview">
            {% for product, available in picture_list %}
            <div class="object-image" data-picture-id="{{ product.id }}" data-slick-index="{{ forloop.counter0 }}" onclick="get_product_image('{% url 'product:render_product_image' product_id=product.id %}');get_product_details('{% url 'product:render_product_details' product_id=product.id %}');">
            </div>
            {% endfor %}
        </div>
        <div class="btn-fullscreen">
            <span class="btn-fullscreen" data-toggle="modal" data-target="#pictureModalFullscreen"></span>
        </div>
        <div class="btn-categories">
            <span class="title">
                {% trans "Displayed" %} <span>{{ picture_list|count_products }} {{ count_products }}</span>
            </span>
            <span class="arrow"></span>
        </div>
        <div class="categories">
            <div class="container-fluid">
                <div class="top-panel">
                    <span class="close">×</span>
                    <div class="search-tab">
                    {% include "product/_filters.html" %}
                    </div>
                </div>
                <div class="row all-images">
                {% for product, available in picture_list %}
                    <div class="col-md-1 thumb-item" product-id="{{ product.id }}" data-product-id="{{ product.id }}">
                        {% thumbnail product.get_first_image "125x125" format="PNG" crop="center" as image %}
                        <img src="{{ image.url }}">
                        {% endthumbnail %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btn-open-panel more-info">
        <span class="open"></span>
    </div>
    <div class="panel-more-info">
        <span class="close">×</span>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="pictureModalFullscreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
jQuery(function($) {
    $(".main-images-preview").slick({
        infinite: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        lazyLoad: 'ondemand',
    });
    $(function() {
        $(".info-object .btn-order").click(function(){
            variantText = $(this).attr("activate");
            variantInterval = setInterval(function(){
                $(".variant-picker__option").map(function(){
                    if ($(this).text().toLowerCase() == variantText.toLowerCase()) {
                        $(this).addClass("active");
                    } else {
                        $(this).removeClass("active");
                    }
                })
                if ($(".modal .row.product")) {
                    setTimeout(function(){
                        clearInterval(variantInterval);
                    }, 500);
                }
            }, 1)
        });
        // toggle class more info
        $(".btn-open-panel").click(function(){
            $(".object-detail").toggleClass("more-info-opened");
        });
        $(".panel-more-info .close").click(function(){
            $(".object-detail").removeClass("more-info-opened");
        });

        // click hide categories
        $(".object-image").click(function(){
            $(".object-detail").removeClass("categories-opened");
        });

        // toggle class on catgories
        $(".btn-categories").click(function(){
            $(".object-detail").toggleClass("categories-opened");
        });
        $(".categories .top-panel .close").click(function(){
            $(".object-detail").toggleClass("categories-opened");
        });

        // fix slick id
        $(".maincontent").attr("slick-active-index", $(".slick-current.slick-active").attr("data-slick-index"));
        
        // go to proper slide
        if (window.location.hash.replace("#/","").indexOf("slick-slide-") >= 0 ) {
            var ID = window.location.hash.replace("#slick-slide-","");
            var index = $(".slick-slide[data-picture-id='" + ID + "']").attr("data-slick-index");
            $('.main-images-preview').slick("slickGoTo", index);
        }

        // set id
        function setImageIdToUrl() {
            window.location.hash = "slick-slide-"+$(".slick-current.slick-active").attr("data-picture-id");
        }

        $(function(){
            $('.slick-current.slick-active').trigger('click');
            setImageIdToUrl();
            $(".all-images .thumb-item[data-product-id='" + window.location.hash.replace("#slick-slide-","") + "']").addClass("active");
        });
        
        // info inner content, btn afterChange and portrait picture
        $('.main-images-preview').on('afterChange', function(event, slick, currentSlide, direction){
            $('.slick-current.slick-active').trigger('click');
            setImageIdToUrl();
            $(".all-images .thumb-item").removeClass("active");
            $(".all-images .thumb-item[data-product-id='" + window.location.hash.replace("#slick-slide-","") + "']").addClass("active");
        });

        function goToSlide(ID) {
            $(".object-detail").removeClass("categories-opened");
            var index = $(".slick-slide[data-picture-id='" + ID + "']").attr("data-slick-index");
            $('.main-images-preview').slick("slickGoTo", index);
        }
        
        // set thumbs go to slide
        setTimeout(function(){
            $(".categories .all-images .thumb-item img").click(function(){
                goToSlide($(this).parent().attr("data-product-id"));
            });
        }, 1000);

        // auto hide panels
        function hideInfoPanel() {
            infoTimeOut = setTimeout(function(){
                $(".object-detail").removeClass("more-info-opened");
            }, 4000);
        }
        
        hideInfoPanel()
        $(".panel-more-info").mouseout(function(){
            hideInfoPanel();
        });
        $(".panel-more-info").mouseover(function(){
            $(function(){
                clearTimeout(infoTimeOut);
            });
        });
    });   
});
</script>
