{% load bootstrap_field from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail from product_images %}
{% load i18n %}
{% load markdown from markdown %}
{% load placeholder thumbnail %}
{% load staticfiles %}
{% load taxed_prices %}

<style type="text/css">
{% for product in products %}
{% thumbnail product.get_first_image "x900" format="PNG" as product_image %}
.banner-item.item-{{ product.id }} {
  background-image: url(/static/img/logo-kotynkova.png), url("/static/img/front_banner_layer_full.png"), url("{{ product_image.url }}");
}
{% endthumbnail %}
{% endfor %}
</style>

<div id="frontbannerCarousel" class="carousel slide front-banner" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for product in products %}
    <li data-target="#frontbannerCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for product in products %}
    <div class="carousel-item item banner-item item-{{ product.id }} {% if forloop.first %}active{% endif %}">
      <div class="container">
        <div class="item-info col-lg-4 offset-lg-8">
          <div class="row">
          <div class="col-lg-7">
            <a href="{% url 'product:category' slug=product.category.slug category_id=product.category.id %}#slick-slide-{{ product.id }}">
              <h3>{{ product.translated }}</h3>
            </a>
            {% for attribute, value in product.get_product_attributes.items %}
            {% if attribute.slug == 'format' %}
                <span class="format">{{ value.translated }}{% if product.variants.count != 1%},&nbsp;{% endif %}</span>
            {% endif %}
            {% endfor %}
            {% for variant in product.variants.all %}
                {% if not variant.name == 'originál' %}
                <span class="format">{{ variant.name }}{% if not forloop.last %},&nbsp;{% endif %}</span>
                {% endif %}
            {% endfor %}
          </div>
          <div class="col-lg-5">
            <a class="btn btn-order" href="{% url 'product:category' slug=product.category.slug category_id=product.category.id %}#slick-slide-{{ product.id }}">{% trans "View" %}</a>
          </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#frontbannerCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#frontbannerCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
