{% load bootstrap_field from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail from product_images %}
{% load i18n %}
{% load markdown from markdown %}
{% load placeholder thumbnail %}
{% load staticfiles %}
{% load taxed_prices %}

<style type="text/css">
{% for product in products %}
{% thumbnail product.get_first_image "x900" crop="center" format="PNG" as product_image %}
.slick-banner-images .banner-item.item-{{ product.id }} {
  background-image: url(/static/img/logo-kotynkova.png), url("/static/img/front_banner_layer_full.png"), url("{{ product_image.url }}");
}
{% endthumbnail %}
{% endfor %}
.slick-banner-images .banner-item {
    background-position: 50% 14px, 92% 100%, top!important;
}
.slick-banner-images .banner-item {
    height: 60vh;
}
.slick-banner-images .banner-item:not(.active) {
    visibility: hidden;
}
.slick-banner-images .banner-item.visible {
    visibility: visible!important;
}

.slick-banner-images .banner-item > .container {
    position: absolute;
    bottom: 0px;
    left: none;
    right: none;
    padding-right: 3vw;
    padding-top: 30px;
    max-width: 100vw;
    bottom: 40px;
}
.slick-banner-images .banner-item .item-info h3 {
    margin-top: 0px;
    font-size: 13px;
    font-weight: bold;
    font-family: Lato,sans-serif;
    text-transform: uppercase;
    line-height: 14px;
}
.slick-banner-images .banner-item .item-info a {
    color: #000;
}
.slick-banner-images .banner-item .item-info a.btn-order {
    width: 100%;
}
.slick-banner-images .banner-item .item-info .format {
    display: block;
    font-size: 12px;
    float: left;
}
.slick-banner-images .banner-item .item-info .status {
    display: block;
    margin-top: 0px;
    font-size: 11px;
}
.slick-banner-images .banner-item .item-info div {
    padding-right: 5px;
}
.slick-banner-images .btn-order:last-child {
    margin-top: 5px;
}
.slick-banner-images button.slick-arrow {
    top: 25vh;
}
.slick-banner-images .slick-prev {
    left: 35px!important;  
}
.slick-banner-images .slick-next {
    right: 35px!important;  
}
.slick-banner-images .slick-dots {
    bottom: 8.3vw;
    left: 22vw;
    width: 77vw;
}
.slick-banner-images .slick-dots li button:before {
    font-size: 27px;
    color: #fff;
    opacity: .5;
}
.slick-banner-images .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>

<div class="slick-banner-images">
  {% for product in products %}
  <div class="banner-item item-{{ product.id }} {% if forloop.first %}active{% endif %}">
    <div class="container">
      <div class="item-info">
        <div class="row">
        <div class="col-lg-2 offset-lg-8">
          <a href="{% url 'product:category' slug=product.category.slug category_id=product.category.id %}#slick-slide-{{ product.id }}">
            <h3>{{ product.translated }}</h3>
          </a>
          {% for attribute, value in product.get_product_attributes.items %}
          {% if attribute.slug == 'format' %}
              <span class="format">{{ value.translated }}{% if product.variants.count != 1%},&nbsp;{% endif %}</span>
          {% endif %}
          {% endfor %}
          {% for variant in product.variants.all %}
              {% if not variant.name == 'originál' %}
              <span class="format{% if not variant.is_in_stock %} not-in-stock{% endif %}">{{ variant.name }}{% if not forloop.last %},&nbsp;{% endif %}</span>
              {% endif %}
          {% endfor %}
        </div>
        <div class="col-lg-1">
          <a class="btn btn-order" href="{% url 'product:category' slug=product.category.slug category_id=product.category.id %}#slick-slide-{{ product.id }}">{% trans "View" %}</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript">
jQuery(function($) {
  $(".slick-banner-images").slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    lazyLoad: 'ondemand',
  });
  setTimeout(function(){
    $(".slick-banner-images .banner-item").addClass("visible");
  }, 500);
});
</script>
