{% load i18n %}

<div class='info-object info-slick'>
    <h2>{{ product.translated }}</h2>
    {% for attribute, value in product.get_product_attributes.items %}
    {% if attribute.slug == 'format' %}
        <span>{{ value.translated }} cm</span><br/>
    {% endif %}
    {% endfor %}
    <hr>
    {% for variant in product.variants.all %}
    {% if variant.is_in_stock %}
        <span class='variant-item'>{{ variant.name }}</span><a activate='{{ variant.name }}' class='btn btn-order open-modal trigger-variant' href='{{ product.get_absolute_url }}'>{% blocktrans context 'Order variants' %}Order{% endblocktrans %}</a><br/>
    {% else %}
        <span class='variant-item'>{{ variant.name }}</span><span class="sold-out">{% trans "Sold out" %}</span><br/>
    {% endif %}
    {% endfor %}
    <hr>
    <span class='description'>{{ product.translated.description|safe }}</span>
</div>

<script>
$(function(){
    $(".trigger-variant").click(function(){
        window.location.hash += '-act-' + $(this).attr('activate');
    });
});
</script>
