{% extends "base.html" %}
{% load i18n saleor_ext %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
.filter-by-year li {
    cursor: pointer;
}
.filter-by-year li.active {
    border: 1px solid #b7b7b7;
}
.exhib {
    display: none;
}
.exhib.active {
    display: block;
}
.exhibitions ul {
    list-style-type: none;
    padding: 0;
}
.exhibitions .col-md-12 {
    margin-bottom: 35px;
}
.container-fluid.about-me {
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url(/static/img/BG_OMe.jpg);
    background-size: cover;
}
.about-me .desc {
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 13px;
    color: #000;
    padding: 54px 66px 75px;
}
.about-me h1 {
    color: #000;
    padding-bottom: 0px;
    padding-top: 10px;
}
.about-me .btn.btn-order {
    padding: 8px 50px;
}
</style>
  <div class="home__featured">
    {% collection_prodcuts collection_slug="obrazy-banneru" template_style="banner" %}
  </div>
  <div class="container new-pictures">
    <h1 class="text-center">{% trans "New pictures" %}</h1>
    {% collection_prodcuts collection_slug="home-produkty" template_style="grid" count=6 %}
  </div>
  <div class="all-pictures">
    <a class="btn btn-order" href="{% get_category_url 'obrazy' %}">{% trans "All pictures" %}</a>
  </div>
  <div class="container exhibitions">
    <h1 class="text-center">{% trans "Exhibitions" %}</h1>
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>{% trans "Ongoing Exhibitions" %}</h3>
        {% get_event_list ongoing=True const_coop=False %}
        <h3>{% trans "Constant Cooperation" %}</h3>
        {% get_event_list ongoing=False const_coop=True %}
      </div>
      <div class="col-md-3 text-center">
        <h3>{% trans "Older Exhibitions" %}</h3>
        <ul class="filter-by-year">
          <li year="2018" class="active">2018</li>
          <li year="2011">2011</li>
          <li year="2010">2010</li>
          <li year="2009">2009</li>
          <li year="2008">2008</li>
          <li year="2007">2007</li>
          <li year="2006">2006</li>
          <li year="2005">2005</li>
          <li year="2004">2004</li>
          <li year="2003">2003</li>
          <li year="2002">2002</li>
          <li year="2001">2001</li>
        </ul>
      </div>
      <div class="col-md-9 text-center">
        <h3>{% trans "Exhibitions" %}</h3>
        <div year="2018" class="exhib active">
          {% get_event_list ongoing=False const_coop=False year=2018 %}
        </div>
        <div year="2008" class="exhib">
          {% get_event_list ongoing=False const_coop=False year=2008 %}
        </div>
        <div year="2007" class="exhib">
          {% get_event_list ongoing=False const_coop=False year=2007 %}
        </div>
        <div year="2006" class="exhib">
          {% get_event_list ongoing=False const_coop=False year=2006 %}
        </div>
      </div>
    </div>
  </div>
  <div style="display: none;" id="rendered_thumbs"></div>
  <div class="container-fluid about-me">
    <div class="container">
      <div class="desc text-center">
        <h1>Ivana Kotýnková</h1>
        <p>*16.11.1958, České Budějovice</p>
        <p>Věnuji se malbě a kreslení profesionálně více než čtvrt
století. Při výběru námětů se většinou vracím do svého
rodného kraje jižních Čech, nebo do vzpomínek na jiná
zajímavá místa, ale i do vzpomínek na setkání s milými
lidmi. Obrazy krajin jsou určitou výpovědí o vlastním pocitu
o místě, či o okamžiku v něm, smutku a hlavně o radosti. U
zátiší jsou převládajícím motivem kytice, které si nosím z
procházky. I zde se snažím především vyjádřit pocit dobré
nálady a pohody. Figurami akcentuji určité životní postoje
člověka v různých životních situacích ať již v přírodě či
v rodině.</p>
        <a href="/cs/page/o-mne/" class="btn btn-order">Více</a>
      </div>
    </div>
  </div>
  <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script type="text/javascript">
  function get_product_thumb(product_url, element) {
    $.ajax({    
      url: product_url,
        success: function(data) {
            element.html(data);
        }
    });
  };
  setTimeout(function(){
    {% for product in all_products %}
    get_product_thumb("{% url 'product:render_product_thumb' product_id=product.id %}", $("#rendered_thumbs"));
    {% endfor %}
  }, 1000);
  </script>
  <script type="text/javascript">
    $(function(){
      $(".filter-by-year li").click(function(){
        $(".exhib").css("display", "none");
        $(".filter-by-year li").removeClass("active");
        $(this).addClass("active");
        $(".exhib[year='" + $(this).attr('year') + "']").css("display", "block");
      });
    });
  </script>
{% endblock %}
