{% extends "base.html" %}
{% load i18n saleor_ext %}
{% load fullcalendar_tags staticfiles %}

{% block content %}

{% fullcalendar_jquery %}
{% fullcalendar_jquery_ui %}
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/js/fullcalendar/fullcalendar-all.css' %}">
<style type="text/css">
.bubble {
    position: absolute;
    width: auto;
    height: auto;
    padding: 16px;
    border-radius: 3px;
    background-color: #777777;
    z-index: 9999;
    color: #fff;
    box-shadow: 0px 9px 14px 0px #c1c1c1;
    display: none;
    font-size: 14px;
}
.fc-toolbar {
    margin-bottom: 8px;
}
.fc-scroller.fc-day-grid-container {
    height: 282px!important;
}
.fc-basic-view tbody .fc-row {
    min-height: 47px!important;
    height: 47px!important;
    font-size: 14px;
    text-align: center;
}
td.fc-day.fc-widget-content {
    background-color: #8a8a8a;
    border: 2px solid #fff;
}
.fc-ltr .fc-basic-view .fc-day-number {
    color: #fff;
}
.fc-event {
    border: 1px solid #e07507;
    background-color: #e07507;
}
</style>

  <div class="home__featured">
    {% collection_prodcuts collection_slug="obrazy-banneru" template_style="banner" %}
  </div>
  <div class="container new-pictures">
    <h1 class="text-center">{% trans "New pictures" %}</h1>
    {% collection_prodcuts collection_slug="home-produkty" template_style="grid" count=6 %}
  </div>
  <div class="all-pictures">
    <a class="btn btn-order" href="{% get_category_url 'obrazy' %}">{% trans "All pictures" %}</a>
  </div>
  <div class="container exhibitions">
    <h1 class="text-center">{% trans "Exhibitions" %}</h1>
    <div class="row">
      <div class="col-md-6">
        {% get_event_list %}
      </div>
      <div class="col-md-6">
        {% calendar %}
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'fullcalendar/js/fullcalendar/fullcalendar.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/locale-all.js' %}"></script>
  <script type="text/javascript">
    jQuery(function($) {
      $(function(){
        $('#calendar').fullCalendar({% fullcalendar_config %});
      });
    });
  </script>
  <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>

{% endblock %}
