{% extends "base.html" %}
{% load i18n saleor_ext %}
{% load fullcalendar_tags staticfiles %}

{% block content %}

{% fullcalendar_jquery %}
{% fullcalendar_jquery_ui %}
  <div class="home__featured">
    {% collection_prodcuts collection_slug="obrazy-banneru" template_style="banner" %}
  </div>
  <div class="container new-pictures">
    <h1 class="text-center">{% trans "New pictures" %}</h1>
    {% collection_prodcuts collection_slug="home-produkty" template_style="grid" count=6 %}
  </div>
  <div class="all-pictures">
    <a class="btn btn-order" href="{% get_category_url 'obrazy' %}">{% trans "All pictures" %}</a>
  </div>
  <div class="container exhibitions">
    <h1 class="text-center">{% trans "Exhibitions" %}</h1>
    <div class="row">
      <div class="col-md-6">
        {% get_event_list %}
      </div>
      <div class="col-md-6">
        {% calendar %}
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'fullcalendar/js/fullcalendar/fullcalendar.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/locale-all.js' %}"></script>
  <script type="text/javascript">
    jQuery(function($) {
      $(function(){
        $('#calendar').fullCalendar({% fullcalendar_config %});
      });
    });
  </script>
  <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>

{% endblock %}
